:root {
  /* Color Palette */
  --primary-color: #6e5efb; 
  --secondary-color: #ffcc00; 
  --text-color: #ffffff; 
  --background-dark: black; 
  --background-light: #252525; 
  --accent-color: #04ba70; 
  --danger-color: #ff4d4f; 

  /* Fonts */
  --font-family: 'Roboto', sans-serif;
  --font-size-small: 11px;
  --font-size-medium: 16px;
  --font-size-large: 20px;

}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-dark);
  
}
::-webkit-scrollbar {
  width: 1px;
}

button {
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: var(--font-size-medium);
}

input, textarea {
  font-family: var(--font-family);
}
